.App {
  text-align: center;
}

header{
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  justify-content: center;
}

.header-content{
  font-size: 20px;
  padding: 10px;
  border-width: 0;
  border-bottom-width: thin;
  border-color: black;
  border-style: solid;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

input[type=text]{
  border-width: 0;
  border-bottom-width: thin;
  margin: 0px 5px 0px 5px;
  font-size: 25px;
  min-width: 200px;
}

input:focus{
  outline: none;
}

.content-text{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 25px;
}

/* TODO: Add style for the unstyled components below:
*   - Card
*   - Card Array Container
*   - Not Found Message
*   - Results
*/